<div class="container">
    <form method="post" id="usernameForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />

        <input type="submit" value="Submit" />
    </form>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/testhub.js"></script>
